.wrapper {
  --gap: 0.5rem;
  --padding-inline: 1rem;
  --header-height: 2rem;

  min-height: 100vh;
  min-height: 100dvh;

  gap: var(--padding-inline);
  padding-top: var(--padding-inline);
  padding-inline: var(--padding-inline);
  @apply flex flex-col;
}

.header {
  height: var(--header-height);

  @apply flex flex-row items-center gap-4;

  & .btn {
    field-sizing: content;
    @apply outline-none border border-gray-400 bg-black/5 rounded-lg px-2 py-1 capitalize;
  }
}

.editor {
  height: calc(100vh - var(--header-height) - var(--padding-inline) * 3);

  @apply border border-gray-400 rounded-md overflow-hidden;
}
